<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>DynaTest - Dashboard</title>

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/5523241ba3.js"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/monokai.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/lint.min.css" rel="stylesheet">

    <style media="screen" type="text/css">
        .editor {
            height: 100%
        }

        .CodeMirror {
            height: 100%
        }

    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#"
           onclick="showWelcomePage()">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-flask"></i>
            </div>
            <div class="sidebar-brand-text mx-3">DynaTest</div>
        </a>

        <hr class="sidebar-divider my-0">


        <button class="btn btn-danger rounded mr-3 ml-3" id="newTestSuite" type="button">
            New Test Suite
        </button>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Heading -->
        <div class="sidebar-heading">
            Test Suites
        </div>


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" th:each="testSuite : ${testSuites}">
            <a class="nav-link collapsed" href="#" th:attr="data-id=${testSuite.id}">
                <span th:text="${testSuite.name}"></span>
            </a>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->

    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>

                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="alertsDropdown" role="button">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div aria-labelledby="alertsDropdown"
                             class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="messagesDropdown" role="button">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div aria-labelledby="messagesDropdown"
                             class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img alt="..." class="rounded-circle"
                                         src="img/undraw_profile_1.svg">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.
                                    </div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img alt="..." class="rounded-circle"
                                         src="img/undraw_profile_2.svg">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?
                                    </div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img alt="..." class="rounded-circle"
                                         src="img/undraw_profile_3.svg">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!
                                    </div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img alt="..." class="rounded-circle"
                                         src="https://source.unsplash.com/Mv9hjnEUHR4/60x60">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...
                                    </div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                 src="img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="w-100 h-100 text-center" id="placeholder-main-content">
                    <h3 class="mb-1">DynaTest</h3>
                    <h5>Streamlined API E2E Testing</h5>
                    <p style="">
                        Documentation can be found at <a href="https://www.github.com.jwtly10/dynatest/docs">https://www.github.com.jwtly10/dynatest/docs</a>.
                        <br>
                        <br>
                        <br>
                        This streamlined testing tool is used to validate API structure and datatypes,
                        <br>
                        ensuring between
                        deployments an API contract between you
                        and a client hasn't changed.
                        <br>
                        <br>
                        Get started by creating a new test suite on the left or choosing
                        <br>
                        an existing test suite to start testing!
                    </p>
                </div>
                <div id="main-content" style="display:none;">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Run Options</h6>
                                </div>
                                <div class="card-body d-flex flex-column justify-content-center align-content-center">
                                    <div class="d-flex flex-row align-items-center">
                                        <button class="btn btn-success mr-3 w-25">Run</button>
                                        <p class="m-0 p-0">Run Test Suite</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Runner Log</h6>
                                </div>
                                <div class="card-body d-flex flex-column justify-content-center align-content-center"
                                     style="height:250px;">
                                            <textarea class="w-100 h-100" id="testSuiteLog">
                                                INFO: This is a log
                                                INFO: This is another log
                                                INFO: This is a log
                                                INFO: This is a log
                                                INFO: This is a log
                                                INFO: This is a log
                                                INFO: This is a log
                                                INFO: This is a log
                                                INFO: This is another log
                                                INFO: This is another log
                                                INFO: This is another log
                                                INFO: This is another log
                                                INFO: This is another log
                                                INFO: This is another log
                                            </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-xl-7 col-lg-8 mb-4">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Test Suite Config</h6>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <label for="testSuiteName">Test Suite name</label>
                                    <input id="testSuiteName"/>
                                    <label for="testSuiteConfig">Config</label>
                                    <textarea class="editor" id="testSuiteConfig"></textarea>
                                </div>
                                <div class="card-footer">
                                    <input id="testSuiteId" type="hidden"/>
                                    <div class="alert alert-danger" id="updateTestSuiteError" role="alert"
                                         style="display: none;">
                                    </div>
                                    <div class="alert alert-success" id="updateTestSuiteSuccess" role="alert"
                                         style="display: none;">
                                    </div>
                                    <button class="btn btn-primary" id="updateTestSuite">Save</button>
                                </div>
                            </div>

                        </div>

                        <div class="col-xl-5 col-lg-4 mb-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Meta Data</h6>
                                        </div>
                                        <div class="card-body d-flex flex-column">
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex flex-column text-right">
                                                <p class="text-secondary m-0 p-0"><small>Created: <span
                                                        id="metaCreated">2023-02-01 12:11:83</span></small></p>
                                                <p class="text-secondary m-0 p-0"><small>Updated:
                                                    <span id="metaUpdated">2023-02-08 12:11:83</span></small></p>
                                                <p class="text-secondary m-0 mt-auto p-0"
                                                   id="deleteTestSuite"><small data-target="#deleteConfirmModal"
                                                                               data-toggle="modal"
                                                                               style="cursor:pointer;">delete
                                                    me</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="deleteConfirmModalLabel" class="modal fade"
                             id="deleteConfirmModal"
                             role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Delete</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this test suite?
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel
                                        </button>
                                        <button class="btn btn-danger" id="confirmDeleteButton" type="button">Yes,
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">

                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; <a href="https://www.github.com/jwtly10">@jwtly10</a> 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/lint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/json-lint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsonlint/1.6.0/jsonlint.min.js"></script>

<script>
    let currentConfigEditor;
    let newConfigEditor;
    let mainConfigErrorAlert;
    let mainConfigSuccessAlert;
    document.addEventListener('DOMContentLoaded', (event) => {
        mainConfigErrorAlert = document.getElementById("updateTestSuiteError")
        mainConfigSuccessAlert = document.getElementById("updateTestSuiteSuccess")

        // setting up editor logic
        // newConfigEditor = CodeMirror.fromTextArea(document.getElementById('newTestSuiteConfig'), {
        //     mode: "application/json",
        //     theme: "monokai",
        //     lineNumbers: true,
        //     gutters: ["CodeMirror-lint-markers"],
        //     lint: true
        // });

        currentConfigEditor = CodeMirror.fromTextArea(document.getElementById('testSuiteConfig'), {
            mode: "application/json",
            theme: "monokai",
            lineNumbers: true,
            gutters: ["CodeMirror-lint-markers"],
            lint: true
        });

        const navLinks = document.querySelectorAll('.nav-link.collapsed');
        navLinks.forEach(link => {
            link.addEventListener('click', async function (e) {
                showMainContent()
                hideAlerts()
                e.preventDefault();
                const testSuiteId = this.getAttribute('data-id');
                await fetchTestSuiteDetails(testSuiteId);
            });
        });

        document.getElementById('confirmDeleteButton').addEventListener('click', function (e) {
            e.preventDefault()

            const id = document.getElementById("testSuiteId").value
            deleteTestSuite(id)
            deleteSideBarTestSuiteName(id)
            showWelcomePage()

            // Close the modal
            $('#deleteConfirmModal').modal('hide');
        });

        const newTestSuite = document.getElementById("newTestSuite")
        newTestSuite.addEventListener('click', async function (e) {
            // Init an example test suite
            const exampleJson = {
                "tests": [
                    {
                        "name": "New Test",
                        "description": "Example simple test",
                        "steps": [
                            {
                                "stepName": "Make a request",
                                "request": {
                                    "method": "GET",
                                    "url": "https://httpbin.org/get",
                                    "headers": {
                                        "Content-Type": "application/json",
                                        "Accept": "application/json"
                                    }
                                }
                            }
                        ]
                    }]
            }

            const newData = {
                name: "New Test Suite",
                configuration: JSON.stringify(exampleJson)
            }
            const res = await postNewTestSuite(newData.name, newData.configuration)
            console.log(res)
            newData.id = res.id

            const sidebarList = document.getElementById('accordionSidebar');

            const newListItem = document.createElement('li');
            newListItem.className = 'nav-item';

            const newLink = document.createElement('a');
            newLink.className = 'nav-link collapsed';
            newLink.href = '#';
            newLink.setAttribute('data-id', newData.id);
            const newSpan = document.createElement('span');
            newSpan.innerText = 'New Test Suite';

            newLink.appendChild(newSpan);
            newListItem.appendChild(newLink);
            sidebarList.appendChild(newListItem);

            newListItem.addEventListener('click', async function (e) {
                showMainContent()
                hideAlerts()
                e.preventDefault();
                await fetchTestSuiteDetails(newData.id);
            });


            updateMainContent(newData)
            showMainContent()
        })

        const updateTestSuite = document.getElementById("updateTestSuite")
        updateTestSuite.addEventListener('click', async function (e) {
            e.preventDefault()

            const id = document.getElementById("testSuiteId").value
            const name = document.getElementById("testSuiteName").value
            const config = currentConfigEditor.getValue()

            await updateTestSuiteDetails(id, name, config)
        })

    });

    async function postNewTestSuite(name, testSuiteJson) {
        hideAlerts()
        try {
            const response = await fetch('/test-suites/new', {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                        name: name,
                        configuration: testSuiteJson
                    }
                )
            })

            const data = await response.json()
            console.log(data)
            return data
        } catch (e) {
            console.error("Cant post new test suite: ", e)
        }

    }

    async function deleteTestSuite(id) {
        hideAlerts()
        try {
            await fetch(`/test-suites/delete/${id}`, {method: "DELETE"})
        } catch (e) {
            console.error("Error deleting suite:", e)
            setAlert(e.message, "error-main")
        }
    }

    async function fetchTestSuiteDetails(id) {
        hideAlerts()
        try {
            const response = await fetch(`/test-suites/${id}`, {
                method: "GET",
            })

            const data = await response.json()
            updateMainContent(data)
        } catch (e) {
            console.error('Error fetching test suite details:', e)
        }
    }

    async function updateTestSuiteDetails(id, name, config) {
        if (id === null) {
            console.log("This is new")
            return;
        }
        hideAlerts()
        try {
            const response = await fetch(`test-suites/update/${id}`, {
                method: "PUT",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(
                    {
                        name: name,
                        configuration: config
                    }
                )
            })

            if (response.status !== 200) {
                console.error("Status code is not 200 ", response.statusText)
                return
            }
            console.log(response)
            setAlert("Successfully updated test suite", "success-main")
            updateSidebarTestSuiteName(id, name)
        } catch (e) {
            console.error("Cant update test suite: ", e)
            // TODO, display errors
            setAlert(e.message, "error-main")
        }
    }

    function updateMainContent(data) {
        console.log(data)
        const testSuiteName = document.getElementById("testSuiteName")
        const testSuiteId = document.getElementById("testSuiteId")
        try {
            currentConfigEditor.setValue(JSON.stringify(JSON.parse(data.configuration), null, 2))
        } catch (e) {
            console.error("Error formating JSON: " + e)
            currentConfigEditor.setValue(data.configuration)
        }
        testSuiteName.value = data.name
        testSuiteId.value = data.id
    }


    function updateSidebarTestSuiteName(id, newName) {
        const listItem = document.querySelector(`a[data-id='${id}']`);
        if (listItem) {
            const spanElement = listItem.querySelector('span');
            if (spanElement) {
                spanElement.textContent = newName;
            }
        }
    }

    function deleteSideBarTestSuiteName(id) {
        const listItem = document.querySelector(`a[data-id='${id}']`);
        if (listItem) {
            const parentLi = listItem.closest('li');
            if (parentLi) {
                parentLi.remove();
            }
        }
    }

    function hideAlerts() {
        mainConfigErrorAlert.style.display = "none"
        mainConfigErrorAlert.innerHTML = ""

        mainConfigSuccessAlert.style.display = "none"
        mainConfigSuccessAlert.innerHTML = ""
    }

    function showWelcomePage() {
        document.getElementById('placeholder-main-content').style.display = 'block';
        document.getElementById('main-content').style.display = 'none';
    }

    function showMainContent() {
        document.getElementById('placeholder-main-content').style.display = 'none';
        document.getElementById('main-content').style.display = 'block';
    }

    function setAlert(message, type) {
        switch (type) {
            case "success-main":
                mainConfigSuccessAlert.style.display = "block"
                mainConfigSuccessAlert.innerHTML = message
                break;
            case "error-main":
                mainConfigErrorAlert.style.display = "block"
                mainConfigErrorAlert.innerHTML = message
                break;
            default:
                console.error("This alert type doesnt exist: " + type)
                break;
        }
    }
</script>

</body>

</html>